<h1>Hello there!</h1>

<form action='/result'>
  <label for='name'>What's your name?</label>
  <input name='name' type='text'><br>
  <label for='birthday'>What's your birthday?</label>
  <input name='birthday' type='date'><br>
  <input value='Submit' type='submit'>
</form>